@use 'variable' as var;
@use 'mixin' as mix;

$maxWidth: 400px;

.header {
  max-width: $maxWidth;
  height: 100px;
  background-color: var.$navy;
  position: relative;

  &__inner {
    display: flex;
    padding: 10px;
    background-color: var.$white;
    position: absolute;
    top: 20px;
    right: 20px;

    & > div:last-child{
      margin-right: 0;
    }

      .purple_box {
        @include mix.square(#a9004b);
      }
      .orange_box {
        @include mix.square(#ff863f);
      }
      .blue_box {
        @include mix.square(#0000ff);
      }
  }
}

.content {
  display: flex;
  aside {
    height: 250px;
    width: 150px;
    background-color: var.$green;
    }

  main {
    height: 250px;
    width: 250px;
    background-color: var.$red;

    .purple_main_box {
      @include mix.rectangle(#a9004b);
    }
    .orange_main_box {
      @include mix.rectangle(#ff863f);
    }
    .blue_main_box {
      @include mix.rectangle(#0000ff);
    }
  }
}

.footer {
  height: 100px;
  width: $maxWidth;
  background-color: var.$brown;
}