@use 'variable' as var;

$maxWidth: 400px;

.header {
  max-width: $maxWidth;
  height: 100px;
  background-color: var.$navy;
}

.content {
  display: flex;

  aside {
    height: 250px;
    width: 150px;
    background-color: var.$green;
    }

    main {
      height: 250px;
      width: 250px;
      background-color: var.$red;
    }
  }

.footer {
  height: 100px;
  width: $maxWidth;
  background-color: var.$brown;
}