@mixin square($buttonColor) {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  background-color: $buttonColor;
}

@mixin rectangle($buttonColor) {
  height: 40px;
  width: 140px;
  background-color: $buttonColor;
}